<span *ngIf="impactUnitsArray.length > 0">
  <span [ngStyle]="{'color': impactUnitsArray[0]}">&#9733;</span>
  <span [ngStyle]="{'color': impactUnitsArray[1]}">&#9733;</span>
  <span [ngStyle]="{'color': impactUnitsArray[2]}">&#9733;</span>
  <span [ngStyle]="{'color': impactUnitsArray[3]}">&#9733;</span>
  <span [ngStyle]="{'color': impactUnitsArray[4]}">&#9733;</span>
</span>