<ul class="list-group">
  <li class="list-group-item">
    Target - <strong>{{data.target | capitalize}}</strong>
  </li>
  <li class="list-group-item">
    Impact -  
    <!-- <bar-rating [(rate)]="count" [max]="5" [readOnly]="true"></bar-rating> -->
    <app-exer-impact [conut]="data.impact"></app-exer-impact>
  </li>
  <li class="list-group-item">
    Info - {{data.info ? data.info : ''}}
  </li>
</ul>
