<h3 class="mt-5">{{title}}</h3>
<div class=" mt-3" *ngIf="loadedStatus">
  <div class="row">
    <div class="col-6 col-md-4 col-lg-3 mb-4" *ngFor="let workout of allWorkoutsInPassWeekend">
      <mat-card>
        <mat-card-subtitle>
          {{workout.date | dateBeautify}}
        </mat-card-subtitle>
        <mat-card-title>{{workout.session[0] | capitalize}}</mat-card-title>
        <mat-card-title>
          <small>{{workout.session[1] | capitalize}}</small>
        </mat-card-title>
        <mat-card-title>
          <small>{{workout.session[2] | capitalize}}</small>
        </mat-card-title>
        <a mat-raised-button color="accent" routerLink="/workouts/{{workout.date}}" class="card-link">
          View
        </a>
      </mat-card>
    </div>
  </div>
</div>

