<div *ngIf="allDataIsHere">
  <h2>{{exercise | formatExerciseName}}</h2>
  <div class="row mt-3">
    <div class="col-12 col-sm-6">
      <app-exercise-illustration [url]="exerciseDetails.imageURL"></app-exercise-illustration>
    </div>
    <div class="col-12 col-sm-6">
      <app-exercise-details [data]="exerciseDetails"></app-exercise-details>
    </div>
  </div>
  <app-exercise-chart [exerciseMatrix]="exerciseMatrix"></app-exercise-chart>
  <h3 class="mt-3">Workouts</h3>
  <app-exercise-instances [single]="false" [exerciseMatrix]="exerciseMatrix.reverse()"></app-exercise-instances>
</div>
<app-loader [loadedStatus]="allDataIsHere"></app-loader>
