<div>
  <div class="row mb-2">
    <div class="col-12">
      <div *ngFor="let r of data.recovery; let i = index">
        <app-single-group-recovery 
          *ngIf="data.recovery[i].group !== ''" 
          [reciveryObj]="data.recovery[i]" 
          [date]="data.date">
        </app-single-group-recovery>
      </div>
    </div>
  </div>
</div>
