.div_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_container {
    margin: 10px 0;
    width: 100%;
}
.img_container img{
    width: 100%;
    border: 4px solid #774242;
    border-radius: 50%;
    align-self: center;
    transition: 200ms;
    opacity: 0.95;
}

.img_container img:hover {
    transform: scale(0.95);
    opacity: 1;
    transition: 200ms;
}