.single_cell {
  height: 120px;
  flex: 1 1 0;
  box-sizing: border-box;
  width: 14.28%;
  float: left;
  padding: 13px 9px;
  transition: 300ms;
  transform: scale(1);
  &:hover{
    background-color: rgb(180, 223, 208);
    transition: 300ms;
    cursor: pointer;
    z-index: 3;
    transform: scale(1.05);
  }
}

.parent_cells:after {
  content: '';
  clear: both;
  display: block;
}
.scroller_parent{
    height: 300px;
    overflow-y: scroll;
}
.today_cell{
    background-color: rgb(247, 242, 242);
    border: 3px dashed rgb(20, 150, 150);
}
.header_cell{
 height: auto;
 padding: 4px 17px;
width: 14.28%;
float: left;
 background-color: #90d4ce;
}
.workout_cell{
    background-color: rgba(153, 255, 228, 0.2);
}
.header_parent{
    display: block;
    position: relative;
    z-index: 3;
}
.marked_cell{
    background-color: rgb(180, 223, 208);
    transition: 300ms;
    z-index: 3;
    transform: scale(1.05);
}

@media (max-width: 576px) {

    .mat-card-title {
        font-size: 19px !important;
        text-align: center;
    }
    .header_cell{
        padding: 4px 3px;
    }
    .single_cell{
        padding: 5px 2px;
        height: 90px;
        .text_of_cell{
            font-weight: 400;
            font-size: 0.8rem;
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    
}