<h3>
  Calendar</h3>
  <mat-form-field>
      <mat-select 
      placeholder="Number of weaks" 
      [(ngModel)]="numberOfWeeksToDisplay"
      (ngModelChange)="calculateDatesAndArray($event - 1, $event)"
      >
        <mat-option *ngFor="let n of [4, 5, 6, 7, 8, 9, 10]" [value]="n">
          {{ n }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button matTooltip="Load Past Week" [matTooltipPosition]="'below'"  class="my-3" color="primary" (click)="calendarPast()">
        <i class="fas fa-arrow-up"></i> Load Past Week
      </button>
      <button mat-raised-button matTooltip="Load Next Week" [matTooltipPosition]="'below'" class="my-3"  color="primary" (click)="calendarFuture()">
          <i class="fas fa-arrow-down"></i> Load Next Week
        </button>
<div class="py-3" *ngIf="arrayForView">

  <div class="parent_cells" >

    <div class="header_parent">
      <mat-card class="header_cell" *ngFor="let day of ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']">
        <mat-card-title>{{day}}</mat-card-title>
      </mat-card>
    </div>

    <mat-card class="single_cell" [ngClass]="{
        'today_cell': unit.date === today, 
        'workout_cell': unit.session, 
        'marked_cell': indexArray.length && arrIncludes(i)}" *ngFor="let unit of arrayForView; let i = index">

      <h6 class="text-muted m-0 p-0">
        <small>{{unit.date | dateOnlyDate}}</small>
      </h6>
     <!--  <div *ngIf="unit.rest">
        <p class="text_of_cell">Rested</p>
      </div> -->
      <div routerLink="/workouts/{{unit.date}}" *ngIf="unit.session">
        <p class="m-0 p-0 font-weight-bold text_of_cell">{{unit.session[0] | capitalize}}</p>
        <p class="m-0 p-0 font-weight-bold text_of_cell">{{unit.session[1] | capitalize}}</p>
        <p *ngIf="unit.session[2]" class="m-0 p-0 font-weight-bold text_of_cell">{{unit.session[2] | capitalize}}</p>
      </div>

    </mat-card>

  </div>
</div>


<button mat-raised-button color="primary" (click)="indexArray = []">Clear</button>
  <button mat-raised-button *ngFor="let muscule of musculesArr" color="primary" class="mx-2 mb-2" (click)="filterByGroup(muscule)">{{muscule | capitalize}} </button>