<div *ngIf="allreadyFlag">
    <h1 class="text-center">Session</h1>
    <div *ngIf="workoutSession">
        <app-exercise-from 
        [workouts]="workouts"
        [exercisesArray]="groupOneExercises" 
        [workoutSession]="workoutSession"
        [count]="0"
        ></app-exercise-from>
        <app-exercise-from 
        [workouts]="workouts"
        [exercisesArray]="groupTwoExercises" 
        [workoutSession]="workoutSession"
        [count]="1"
        ></app-exercise-from>
        <app-exercise-from 
        [workouts]="workouts"
        *ngIf="groupThreeExercises && groupThreeExercises.length > 0"
        [exercisesArray]="groupThreeExercises" 
        [workoutSession]="workoutSession"
        [count]="2"
        ></app-exercise-from>
        
        <button mat-raised-button (click)="saveWorkout()" color="primary"><i class="far fa-save"></i> Save</button>
        <button mat-raised-button (click)="abandonWorkout(workoutSession.date)" color="warn" class="text-light"><i class="far fa-times-circle"></i> Abandon</button>
    </div>
    <div *ngIf="!workoutSession">
        <p class="text-center text-">You dont have workout decided. Please create one.</p>
        <a routerLink="/"><button mat-raised-button class="btn btn-primary">Create</button></a>
    </div>
</div>
<app-loader [loadedStatus]="allreadyFlag"></app-loader>