<a routerLink="/workouts/{{data[0].date}}">
  <div class="border rounded p-3 my-2 special_border">
    <h5>{{data[0].date | dateBeautify}}</h5>
    <hr>
    <p *ngFor="let ses of data">
      <strong>{{ses.reps}}</strong> reps,
      <strong>{{ses.weight}}</strong> kg</p>
  </div>
</a>