<div *ngIf="loadedStatus">
  
  
  <div class="row">
    
    <div class="col-12" *ngIf="unlockWorkoutButton">
      <div class="flex-center mt-5 mb-5 train-img-btn">
        <a routerLink="/decide-workout">
          <img src="../../assets/logo.svg" matTooltipPosition="above" matTooltip="Clcik to train!" width="150" height="150">
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    
    <div class="col-12" *ngIf="backToSessionUnlock && !unlockWorkoutButton">
      <div class="flex-center mt-5 mb-5 train-img-btn">
        <a routerLink="/session">
          <img src="../../assets/return_to_session.svg" matTooltipPosition="above" matTooltip="Clcik to return to your session!" width="150" height="150">
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngIf="allGroupsRecoveryArray" class="col-12">
      <app-workout-suggestion [groupArray]="allGroupsRecoveryArray"></app-workout-suggestion>
    </div>
  </div>
  
  <div class="row">
    <app-mesurements-form-manager>
    </app-mesurements-form-manager>
  </div>

  <div class="row" *ngIf="userObj && userObj.goals">
      <div class="col-12 my-3 ">
      <app-calorie-values [user]="userObj"></app-calorie-values>
      </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h3 class="mt-5">Muscule Group Status</h3>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4" *ngFor="let recObj of allGroupsRecoveryArray">
          <app-single-group-recovery [date]="recObj.date" [reciveryObj]="{group:recObj.group, readyDate:recObj.readyDate}" [fromHome]="true"></app-single-group-recovery>
        </div>
      </div>
    </div>

  </div>
  
  <app-latest-workouts [loadedStatus]="loadedStatus" [allWorkoutsInPassWeekend]="allWorkoutsInPassWeekend" [title]="'Latest workouts'"></app-latest-workouts>
  <div class="row">
      <div class="col-10">
        <app-calendar-workouts>
        </app-calendar-workouts>
      </div>
  </div>
  
</div>
<app-loader [loadedStatus]="loadedStatus"></app-loader>
