.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.train-img-btn img{
    transition: 200ms;
    transform: rotate(0deg);
}
.train-img-btn img:hover{
    cursor: pointer;
    transform: rotate(70deg);
    transition: 200ms;
}
.card {
    overflow: hidden !important;
}
.inner_card{
    border-top: 4px solid #74e8bd;
}
