<h3>Calories</h3>
<mat-card *ngIf="user">
  <div class="row">
    <h2 class="font-weight-bold col-12 col-sm-4">
      <small class="text-muted">{{mainGoalObj.goalShort}} </small>{{mainGoalObj.value}}
      <small class="text-muted">cal</small>
    </h2>
    <h3 class="font-weight-bold col-12 col-sm-4 custom_muted" *ngFor="let obj of goalsArrFiltered">
      <small class="text-muted">{{obj.goalShort}}</small>
      {{obj.value}}
      <small class="text-muted">cal</small>
    </h3>
  </div>
</mat-card>
