<h2 class="mt-5">{{exerciseArray[0].target | capitalize}}</h2>

<div class="row pb-4 border-bottom-3">
  <div class="col-12  col-md-4 col-lg-3 border rounded p-3 mr-2 mb-3" *ngFor="let item of arrayForView; let i = index">
    <h5 >{{arrayForView[i][0].name | formatExerciseName}}</h5>
    <div *ngFor="let item of arrayForView[i]; let j = index">
      <strong>Set {{j+1}}</strong> - {{item.reps}} reps - {{item.weight}} kg
    </div> 
  </div>
</div>