<div class="container my-2" *ngIf="formVisible">
  <p class="text-center text-info" *ngIf="innerSubmit">Time for your weekly measurements input.</p>
  <div class="row">
    <div class="col-12">
      <legend>Measurements</legend>
      <form [formGroup]="measurmentsForm" class="border rounded pt-2">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>Neck</label>
                <input type="text" class="form-control" aria-describedby="name" placeholder="Enter your neck" formControlName="neck">
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>Chest</label>
                <input type="text" class="form-control" aria-describedby="name" placeholder="Enter your chest" formControlName="chest">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>Arms</label>
                <input type="text" class="form-control" aria-describedby="name" placeholder="Enter your neck" formControlName="arms">
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>Waist</label>
                <input type="text" class="form-control" aria-describedby="name" placeholder="Enter your chest" formControlName="waist">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>Hip</label>
                <input type="text" class="form-control" aria-describedby="name" placeholder="Enter your neck" formControlName="hip">
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>Thigh</label>
                <input type="text" class="form-control" aria-describedby="name" placeholder="Enter your chest" formControlName="thigh">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>Calves</label>
                <input type="text" class="form-control" aria-describedby="name" placeholder="Enter your neck" formControlName="calves">
              </div>
            </div>
            <div class="col-12 col-sm-6 mb-3">
              <button mat-raised-button color="primary" (click)="postNewMeasurements()" class="mt-4">Submit</button>
            </div>
          </div>
        </div>
        <p *ngIf="measurmentsForm.dirty && measurmentsForm.touched && measurmentsForm.status ==='INVALID' " class="text-center text-danger">Ops, please fill the form correctly.</p>
        <p *ngIf="measurmentsForm.status ==='VALID' " class="text-center text-success">Perfect!</p>
      </form>
    </div>
  </div>
</div>
