.div_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_container {
  margin: 10px auto;
  width: 180px;
  height: 180px;
  border: 4px solid #774242;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    align-self: center;
    opacity: 1;
  }
}

.exercise_img_container {
  img {
    height: auto;
  }
}

.image_centrator {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #7e4c4c;
}

.mat-card-image {
  margin: 0 !important;
  &:first-child {
    margin-top: 0px !important;
  }
}

.card_hoverable {
  transition: 300ms;
  &:hover {
    transform: scale(1.03);
    transition: 300ms;
  }
}
