<h3>{{title | capitalize}}</h3>

<div class="row">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 div_center" *ngFor="let unit of data">
    <mat-card class="mb-3 card_hoverable">
      <a routerLink="/{{route}}/{{ checkType(unit) ? unit : unit.name }}" class="card-link">
        <div class="image_centrator">
          <div class="img_container div_center" *ngIf="imageType === 'locale'">
            <img mat-card-image src="../../assets/{{unit}}.png" alt="">
          </div>
        </div>
        <div class="img_container div_center exercise_img_container" *ngIf="imageType === 'remote'">
          <img mat-card-image src="{{unit.imageURL}}" alt="">
        </div>
        <mat-card-title class="text-center">{{ checkType(unit) ? (unit | capitalize) : (unit.name | formatExerciseName)}}</mat-card-title>
      </a>
    </mat-card>
  </div>
</div>
