<h2 class="mt-0 mb-3"><small>Your workout </small>{{dateFormUrl | dateBeautify}}</h2>
<div *ngIf="readyState2">
    <app-workout-page-recovery 
    [data]="workoutOfToday"></app-workout-page-recovery>
</div>



<div *ngIf="readyState1" class="container">
  <app-group-exercises-view [exerciseArray]="majonExerciseArray"></app-group-exercises-view>
  <app-group-exercises-view [exerciseArray]="miniorExerciseArray"></app-group-exercises-view>
  <app-group-exercises-view [exerciseArray]="additionalExerciseArray" *ngIf="additionalExerciseArray.length > 0"></app-group-exercises-view>
</div>
<!-- 
<div *ngIf="!readyState1">
  <h2 class="text-info text-center">Loading ...</h2>
</div> -->

<app-loader [loadedStatus]="readyState1"></app-loader>
