<h3 class="mt-3">{{data[0].label | formatExerciseName}}</h3>
<div class="my-3">
  <canvas baseChart width="400" height="200"
  [datasets]="data"
  [labels]="label"
  [options]="lineChartOptions"
  [colors]="lineChartColors"
  [legend]="true"
  [chartType]="'line'"
  ></canvas>
</div>