
<div class="row">

  <div *ngFor="let arr of lineChartData" class="col-12 col-sm-6" >
    <app-measurements-chart 
    [data]="arr"
    [label]="lineChartLabels"
    ></app-measurements-chart>
  </div>
</div>
<app-loader [loadedStatus]="dataForChartIsReady"></app-loader>