.abandon_btn{
    background-color: orange !important;
}
.add_btn_custom{
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .custon_expand_btn{
      background-color: #445fbb !important;
      color: white;
  }