<div class="border rounded container my-4">


  <h3 *ngIf="this.workoutSession" class="mt-4">{{this.workoutSession.session[this.count] | capitalize}}
  </h3>
  <mat-list class="mb-3">
    <mat-list-item *ngFor="let exercise of localeArrayForExerciseSets; let i = index">{{i+1}} {{exercise.name | formatExerciseName}} -
      <strong class="px-2"> {{exercise.reps}} peps </strong> -
      <strong class="px-2"> {{exercise.weight}} kg </strong>
      <button class="btn btn-danger btn-sm" (click)="deleteExercise(exercise.id)">
        <i class="fas fa-trash-alt"> </i>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

  <form [formGroup]="form">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="form-group">
          <label *ngIf="this.workoutSession" class="center-block">Pick {{this.workoutSession.session[this.count] | capitalize}} Exercise:</label>
          <select class="form-control" formControlName="groupExercise">
            <option *ngFor="let exercise of exercisesArray" [value]="exercise.name">
              {{exercise.name | formatExerciseName}}
            </option>
          </select>
          <small [ngClass]="{'form-text': true, 'text-danger': !exerciseIsPicked, 'text-muted': exerciseIsPicked}">The exercise you performed.</small>
        </div>
      </div>

      <div class="col-6  col-md-4">
        <div class="form-group">
          <label for="exampleInputEmail1">Repetitions</label>

          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="reps" placeholder="Enter reps" formControlName="reps">

          <small id="reps" [ngClass]="{'form-text': true, 'text-danger': repsValid || !repsAreInputed, 'text-success': repsAreInputed && !repsValid}">{{repsValidMessage}}</small>

          <small *ngIf="form.get('reps').value === '' " class="form-text text-muted">The amount of repetitions you did.</small>
        </div>
      </div>
      <div class="col-6  col-md-4">
        <div class="form-group">
          <label for="exampleInputEmail1">Weight</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="weight" placeholder="Enter weight" formControlName="weight">
          <small id="weight" [ngClass]="{'form-text': true, 'text-danger': weightValid, 'text-success': !weightValid}">{{weightValidMessage}}</small>
          <small *ngIf="form.get('weight').value === '' " class="form-text text-muted">The amount of weight (kg) you lift on each rep.</small>
        </div>
      </div>
    </div>
    <button mat-raised-button (click)="addSet()" color="accent" class="mb-1">
      <i class="fas fa-plus"></i> Add</button>
  </form>

  <!-- data on pick exercise  -->
  <div class="row my-3" *ngIf="exerciseMatrix.length > 0">
    <div class="col-8 col-sm-4">
      <div class="border rounded p-3 my-2 special_border">
        <h5>{{ exerciseMatrix[0][0].date | dateBeautify }}</h5>
        <hr>
        <p *ngFor="let ses of exerciseMatrix[0]">
          <strong>{{ses.reps}}</strong> reps,
          <strong>{{ses.weight}}</strong> kg</p>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="mt-2">
        <app-exercise-illustration [url]="imageURL"></app-exercise-illustration>
      </div>
    </div>
  </div>
  <!-- data on pick exercise  -->



  <h5 class="mt-3">Your last {{this.workoutSession.session[this.count] | capitalize}} workout -
    <a mat-raised-button class="btn btn-primary my-2 custon_expand_btn" data-toggle="collapse" href="#collapseExample{{this.count}}" role="button"
      aria-expanded="false" aria-controls="collapseExample">
      <i class="fas fa-arrows-alt-v"></i> Expand
    </a>
  </h5>

  <div class="container">

    <div class="collapse" id="collapseExample{{this.count}}">
      <app-group-exercises-view *ngIf="passTimeTrainingData" [exerciseArray]="passTimeTrainingData">
      </app-group-exercises-view>
    </div>
  </div>
</div>
