<h3 class="text-center">Decide a Workout</h3>
<div class="my-3">
  <app-workout-suggestion [groupArray]="allGroupsRecoveryArray_LOCALE"></app-workout-suggestion>
</div>
<form [formGroup]="workoutForm" class="mt-3">
  <div class="row mt-5">
<div class="col-12 col-sm-4 mb-4 image_mini_parent">
    <div class="img_mini_container" *ngIf="workoutForm.get('major').value !== ''">
      <img src="../../assets/{{workoutForm.get('major').value}}.png" alt=" ">
    </div>
  <mat-card>
    <div class="btn-group-toggle " data-toggle="buttons">
        <mat-card-title>Major</mat-card-title>
      <label class="btn btn-info label_special_all" *ngFor="let group of majorGroupsArr; let i = index" (click)="setControll(group, 'major')">
        <input type="radio" formControlName="major" [value]="group" autocomplete="off"> {{group | capitalize}}
      </label>
    </div>
  </mat-card>
</div>

    <div class="col-12 col-sm-4 mb-4 image_mini_parent">
        <div class="img_mini_container" *ngIf="workoutForm.get('minior').value !== ''">
            <img src="../../assets/{{workoutForm.get('minior').value}}.png" alt=" ">
          </div>
        <mat-card>
      <div class="form-group radio">
        <mat-card-title>Minior</mat-card-title>
        <div class="btn-group-toggle" data-toggle="buttons">

          <label class="btn btn-info label_special_all" (click)="setControll('biceps', 'minior')">
            <input type="radio" formControlName="minior" [value]="'biceps'" autocomplete="off">Biceps
          </label>


          <label class="btn btn-info label_special_all" (click)="setControll('triceps', 'minior')">
            <input type="radio" formControlName="minior" [value]="'triceps'" autocomplete="off">Triceps
          </label>


          <label class="btn btn-info label_special_all" (click)="setControll('traps', 'minior')">
            <input type="radio" formControlName="minior" [value]="'traps'" autocomplete="off">Traps
          </label>

          <label class="btn btn-info label_special_all" (click)="setControll('forearms', 'minior')">
            <input type="radio" formControlName="minior" [value]="'forearms'" autocomplete="off">Forearms
          </label>

          <label class="btn btn-info label_special_all" (click)="setControll('calves', 'minior')">
            <input type="radio" formControlName="minior" [value]="'calves'" autocomplete="off">Calves
          </label>


          <label class="btn btn-info label_special_all" (click)="setControll('abbs', 'minior')">
            <input type="radio" formControlName="minior" [value]="'abbs'" autocomplete="off">Abbs
          </label>


        </div>
      </div>
    </mat-card>
    </div>
    <div class="col-12 col-sm-4 mb-4 image_mini_parent">
        <div class="img_mini_container" *ngIf="workoutForm.get('additional').value !== ''">
            <img src="../../assets/{{workoutForm.get('additional').value}}.png" alt=" ">
          </div>
      <mat-card>
      
      <div class="form-group radio">
          <mat-card-title>Additional</mat-card-title>
        <div class="btn-group-toggle additional_btn_wraper" data-toggle="buttons">

          <ng-container *ngFor="let g of ['biceps','triceps','traps','calves','forearms','abbs']">
            <label *ngIf="workoutForm.get('minior').value !== g " class="btn btn-info label_special_all" (click)="setControll(g, 'additional')">
              <input type="radio" formControlName="additional" [value]="g" autocomplete="off">{{g|capitalize}}
            </label>
          </ng-container>

        </div>
      </div>
    </mat-card>
    </div>
  </div>

  <div class="center-block mt-3">
    <button color="primary" mat-raised-button type="button" (click)="addWorkoutSesion()"><i class="fas fa-check"></i> Done</button>
    <button color="warn"  mat-raised-button type="button" class=" text-light" (click)="clearAdditional()">
      <i class="fas fa-trash-alt"></i> Clear Additional </button>
  </div>
</form>
<p class="text-center text-danger mt-5" *ngIf="formIsValid">You must pick Major and Minior group to start workout</p>
