.selected {
  color: green;
  font-size: 2em;
}

input[type=radio]:checked+label {
  color: #66b866;
}

.btn-info,
.btn-info:hover,
.btn-info:active,
.btn-info:visited {
  background-color: rgb(241, 241, 241) !important;
  border: none;
  color: #333 !important;
}

.active {
  background-color: #0ea899 !important;
  border: none !important;
  outline: none;
  color: white !important;
  &:hover {
    background-color: #009688 !important;
    border: none !important;
    color: white !important;
  }
}

.buttons_container {
  border: 1px solid lightgray;
  padding: 0.5em;
  box-sizing: border-box;
  border-radius: 4px;
}

.img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 15px 5px 15px;
  transition: 300ms;
  box-sizing: border-box;
  img {
    width: 100%;
    animation: fadeIN 200ms ease-out forwards;
    border: 4px solid #009688;
    border-radius: 50%;
    align-self: center;
    opacity: 0;
    transform: translateY(-30px);
  }
}

@keyframes fadeIN {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}



@media (min-width: 1200px) {
  
}

@media (min-width: 992px) {
  
}

@media (min-width: 768px) {
  .image_mini_parent .img_mini_container {
    top: -35px !important;
  }
}



.label_special_all {
  display: inline-block;
  margin: 5px;
}

.recomendation_for_mobile {
  display: inline;
}

@media (min-width: 576px) {
  .label_special_all {
    display: block;
    margin-bottom: 15px;
  }
  
}

.image_mini_parent {
  position: relative;
  .img_mini_container {
    position: absolute;
    z-index: 3;
    top: 10px;
    right: 30px;
    overflow: hidden;
    width: 70px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 73px;
    img {
      border-radius: 50%;
      width: 100%;
      border: 3px solid teal;
    }
  }
  .mini_image_expanded{
    width: 170px;
    height: 173px;
  }
}
