<div *ngFor="let arr of omegaArray">
  <app-entity-grid-links
  [data]="arr"
  [title]="arr[0].target"
  [route]="'exercises'"
  [imageType]="'remote'">
  </app-entity-grid-links>
</div>
<app-loader [loadedStatus]="loadedStatus"></app-loader>