.center {
 display: flex;
 justify-content: center;
 align-items: center;
}
.suggestetBTN {
    color: white;
    background-color: #74e8bd;
    border-color: #74e8bd;
}
.pills_custom {
    &_primary{
     border-bottom: 3px solid #016d62;;   
    } 
    &_secondary{
      border-bottom: 3px solid #008697;   
    } 
    &_default{
      border-bottom: 3px solid #9b9b9b;   
    } 
}
