<div *ngIf="!userDidWorkoutToday && major4Calculation.length !== 0">
  <h5 class="text-center text-muted">
    Suggestions for workout
  </h5>
  <div class="center">
    <mat-chip-list>
      <mat-chip color="primary" selected="true" class="pills_custom_primary">{{major4Calculation[0].name | capitalize}}</mat-chip>
      <mat-chip color="accent" selected="true" class="pills_custom_secondary">{{minior4Calculation[0].name | capitalize}}</mat-chip>
      <mat-chip class="pills_custom_default">{{minior4Calculation[1].name | capitalize}}</mat-chip>
    </mat-chip-list>
  </div>
  <div class="center mt-2" *ngIf="major4Calculation[1]">
    <mat-chip-list>
      <mat-chip color="primary" selected="true" class="pills_custom_primary">{{major4Calculation[1].name | capitalize}}</mat-chip>
      <mat-chip color="accent" selected="true" class="pills_custom_secondary">{{minior4Calculation[1].name | capitalize}}</mat-chip>
      <mat-chip class="pills_custom_default">{{minior4Calculation[2].name | capitalize}}</mat-chip>
    </mat-chip-list>
  </div>
</div>
