<h1>{{group | capitalize}}</h1>
<h5 class="text-muted">Overall muscule group developemtn</h5>


<app-latest-workouts [loadedStatus]="loadedStatus" [allWorkoutsInPassWeekend]="workoutsWithGroupArray" [title]="'Workouts'"></app-latest-workouts>



<div class="border rounded px-4 my-4" *ngFor="let exerciseMatrix of Exercise3D " >
  <app-exercise-chart 
  [exerciseMatrix]="exerciseMatrix" 
  [fromMuscules]="true"></app-exercise-chart>
</div>