a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover {
  color: rgb(255, 255, 255);
}

.mobile_menu_conainer_parent {
  position: relative;
  width: 100%;
}

.mobile_menu_conainer {
  position: absolute;
  right: 0px;
  top: -21px;
}
.menu_bars{
    font-size: 1.5em;
    color: rgb(255, 255, 255);
}
