<mat-toolbar (window:resize)="onResize($event)" color="primary">
  <span>
    <a routerLink="/home">
      <img src="../../assets/logo.svg" width="40" height="40" class="d-inline-block align-top" alt="">
      <span class="navbar-brand mb-0 h1 text-light">Progression</span>
    </a>
  </span>
  <div *ngIf="!isMobile">
    <a routerLink="/home" routerLinkActive="active" mat-button>Home</a>
    <a routerLink="/muscule-groups" routerLinkActive="active" mat-button>Muscules</a>
    <a routerLink="/exercises" routerLinkActive="active" mat-button>Exercises</a>
    <a routerLink="/my-progression" routerLinkActive="active" mat-button> My Progression</a>
  </div>
  <div class="mobile_menu_conainer_parent">
    <div *ngIf="isMobile" class="mobile_menu_conainer">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="menu_bars text-muted"><i class="fas fa-bars text-light"></i></button>
      <mat-menu #menu="matMenu">
        <button routerLink="/home" mat-menu-item>Home</button>
        <button routerLink="/muscule-groups" mat-menu-item>Muscules</button>
        <button routerLink="/exercises" mat-menu-item>Exercises</button>
        <button routerLink="/my-progression" mat-menu-item>My Progression</button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
