<h1 class="mb-3">
  <small>Welcome to </small>Progression</h1>
<h3 class="mb-5">
  <small>The application for your body</small>
</h3>
<p>{{userDetailsForm.value | json}}</p>
<mat-horizontal-stepper [linear]="false" #stepper>
  <ng-template matStepperIcon="done">
    <i class="fas fa-check"></i>
  </ng-template>
  <mat-step [completed]="detailsCompleted" [editable]="!detailsCompleted" [stepControl]="userDetailsForm">
    <ng-template matStepLabel>Details</ng-template>
    <fieldset>
      <legend>Details</legend>
      <form [formGroup]="userDetailsForm" class="border rounded py-3">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label>Full Name</label>
                <input type="text" class="form-control" aria-describedby="name" placeholder="Enter your Full Name" formControlName="name">
                <small [ngClass]="{'form-text':true, 'text-danger': nameValid, 'text-success':!nameValid}">{{nameValidMessage}}</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>Age:</label>
                <input type="text" class="form-control" aria-describedby="age" placeholder="Enter your age" formControlName="age">
                <small [ngClass]="{'form-text':true, 'text-danger': ageValid, 'text-success':!ageValid}">{{ageValidMessage}}</small>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <label class="center-block">Your activity type: </label>
              <select class="form-control" formControlName="activity">
                <option *ngFor="let activity of ActivityType" [value]="activity">
                  {{activity | capitalize}}
                </option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>Weight (kg):</label>
                <input type="text" class="form-control" aria-describedby="age" placeholder="Enter your weight" formControlName="weight">
                <small [ngClass]="{'form-text':true, 'text-danger': weightValid, 'text-success':!weightValid}">{{weightValidMessage}}</small>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>Height (sm):</label>
                <input type="text" class="form-control" aria-describedby="age" placeholder="Enter your height" formControlName="height">
                <span></span>
                <small [ngClass]="{'form-text':true, 'text-danger': heightValid, 'text-success':!heightValid}">{{heightValidMessage}}</small>
              </div>
            </div>
          </div>
              <div class="row">
  
              
              <div class="col-12 col-sm-6">
                <div class="form-group radio">
                  <label>Gender:</label>
                  <br>
                  <div class="row">
                    <div class="col-5">
                      <label class="center-block">
                        <input type="radio" formControlName="gender" value="male">Male</label>
                    </div>
                    <div class="col-7">
                      <label class="center-block">
                        <input type="radio" formControlName="gender" value="female">Female</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                  <label class="center-block">Your goals: </label>
                  <select class="form-control" formControlName="goals">
                    <option [value]="'lose-fat'">Lose Fat</option>
                    <option [value]="'keep-weight'">Keep Weight</option>
                    <option [value]="'gain-muscule'">Gain Muscule</option>
                  </select>
                </div>
              </div>
        </div>
      </form>

    </fieldset>
    <br>
    <div class="row">
      <div class="col-12">
        <button mat-raised-button color="primary" (click)="submitUserDetails()">Submit</button>
      </div>
    </div>
  </mat-step>
  <mat-step [completed]="!childForm.formVisible" [editable]="childForm.formVisible">
    <ng-template matStepLabel>Measurements</ng-template>
    <div class="row">
      <app-measurements-form [innerSubmit]="false">
      </app-measurements-form>
    </div>
    <div *ngIf="!childForm.formVisible">
      <p>Well done!</p>
      <button mat-raised-button color="primary" routerLink="/home">Finish</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
