@import '~@angular/material/theming';
@include mat-core();
$progression-primary: mat-palette($mat-teal);
$progression-accent:  mat-palette($mat-cyan);
$progression-warn:    mat-palette($mat-red, 400);

$progression-theme: mat-light-theme(
    $progression-primary,
    $progression-accent,
    $progression-warn
);

@include angular-material-theme($progression-theme);