<div class="row mt-3">
  <div class="col-12" *ngIf="exerciseMatrix.length === 0">
    <p class="text-center text-info my-4">
      Not trained yet :/
    </p>
  </div>
  <ng-container *ngIf="!single">
    <div class="col-6 col-sm-4" *ngFor="let arr of exerciseMatrix">
      <app-exer-instance 
      [data]="arr"></app-exer-instance>
    </div>
  </ng-container>
  <div *ngIf="single">
    <div class="container">
      <app-exer-instance 
      [data]="exerciseMatrix[0]"></app-exer-instance>
    </div>
  </div>
</div>
