<footer class="page-footer font-small blue pt-4 mt-4 footer_custom">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6">
                <h5 class="text-uppercase">Let's do it</h5>
                <p>Progression is an application for managing your fitness workouts.</p>
            </div>
            <div class="col-md-6">
                <h5 class="text-uppercase">Pages</h5>
                <ul class="list-unstyled">
                    <li>
                        <a routerLink="/home">Home</a>
                    </li>
                    <li>
                        <a routerLink="/muscule-groups">Muscules</a>
                    </li>
                    <li>
                        <a routerLink="/exercises">Exercises</a>
                    </li>
                    <li>
                        <a routerLink="/my-progression">My Progression</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright py-3 text-center footer_bottom_custom">
        © 2018 Copyright:
        <a href="https://dimitranov.github.io/"> Georgi Dimitranov </a>
    </div>
</footer>
                      