<div *ngIf="!fromHome" class="mb-5 w-100">
  <h4>{{reciveryObj.group | capitalize}}</h4>
  <div class="btn-group_custom mb-4" role="group" aria-label="Basic example" *ngIf="classArray.length > 0">
    <div *ngFor="let i of [0,1,2,3,4]" class="div_ready_date" [ngClass]="'date_left_'+classArray[i]">{{datesArray[i] === reciveryObj.readyDate ? 'Ready' : datesArray[i] | dateOnlyDate}}</div>
  </div>
</div>
<div *ngIf="fromHome">
  <ul class="list-group">
    <mat-card class="custom_margin">
      <div class="row">
        <div class="col-4">

          <mat-card-title>{{reciveryObj.group | capitalize}}
            <span>
            </span>
          </mat-card-title>
        </div>
        <div class="col-8 d-flex justify-content-center align-self-baseline">

          <mat-chip [popover]="myPopover" [ngClass]="'date_left_' + classArray[0]">
            {{'date_left_' + classArray[0] | homeClassGroupState}}
          </mat-chip>
        </div>
      </div>

      <span *ngIf="!isReadyToTrain" class="font-weight-bold text-dark">
        {{days}}
        <small>days </small>
        {{hours}}
        <small>hours </small>
        {{minutes}}
        <small>min </small>
        {{seconds}}
        <small>sec </small>
      </span>
      <popover-content #myPopover placement="top" [animation]="true" [closeOnClickOutside]="true">
        <h5 class="pl-3 pt-1 pb-1 bg-light">{{'date_left_' + classArray[0] | homeClassGroupState}}</h5>
        <p class="popover_content">{{'date_left_' + classArray[0] | expForState}}</p>
      </popover-content>


      <span *ngIf="isReadyToTrain">Ready to be trained</span>
    </mat-card>
  </ul>
</div>
