$letsgo: rgb(116, 232, 164);
$letsgoDARK: darken($letsgo, 20%);
$ready: rgb(172, 232, 116);
$readyDARK: darken($ready, 20%);
$soon: rgb(247, 222, 51);
$soonDARK: darken($soon, 20%);
$fairly: rgb(238, 175, 57);
$fairlyDARK: darken($fairly, 20%);
$nope: #f38933;
$nopeDARK: darken($nope, 20%);
$warn: #c04b2d;
$warnDARK: darken($warn, 20%);
$forbidden: #971928;
$forbiddenDARK: darken($forbidden, 20%);
li {
  margin: 1em 0;
}

li [class*="date_left"],
div [class*="date_left"] {
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 7px 10px;
  border-radius: 30px;
}

.date_left {
  &_44 {
    background-color: $letsgo;
    border-bottom: 3px solid $letsgoDARK;
  }
  &_4 {
    background-color: $ready;
    border-bottom: 3px solid $readyDARK;
  }
  &_3 {
    background-color: $soon;
    border-bottom: 3px solid $soonDARK;
  }
  &_2 {
    background-color: $fairly;
    border-bottom: 3px solid $fairlyDARK;
  }
  &_1 {
    background-color: $nope;
    border-bottom: 3px solid $nopeDARK;
  }
  &_0 {
    background-color: $warn;
    border-bottom: 3px solid $warnDARK;
  }
  &_00 {
    background-color: $forbidden;
    border-bottom: 3px solid $forbiddenDARK;
  }
}

.div_ready_date {
  border: none;
  float: left;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  transition: 300ms;
  &:nth-child(1) {
    border-radius: 5px 0 0 5px;
  }
  &:nth-child(5) {
    border-radius: 0px 5px 5px 0px;
  }
}

.popover_content {
  padding: 0 1em;
}

.custom_margin {
  margin-bottom: 30px;
}
